src/main/resources/continents.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/generated"
           targetNamespace="http://spring.io/generated" elementFormDefault="qualified">


    <xs:element name="getContinentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getContinentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="continentIndex" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
